In [1]:
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

In [2]:
import pandas as pd

df = pd.read_csv("spam.csv")
df.head(5)

  Category                  Message
0      ham       Nice presentation!
1      ham        You are selected!
2     spam              Free entry!
3      ham                 Winner!!
4      ham  Nice prergegesentation!

In [3]:
df.groupby('Category').describe()

         Message
           count unique                 top freq
Category
ham           12     12  Nice presentation!    1
spam           4      4         Free entry!    1